spring:
  application:
    name: analytics-service
  datasource:
    url: jdbc:mysql://localhost:3306/lumadesk_analytics_db?createDatabaseIfNotExist=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

server:
  port: 0

eureka:
  instance:
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true

logging:
  level:
    root: INFO
    com.lumadesk.analytics_service: DEBUG
  file:
    name: "C:\\Users\\balaji.vs\\IdeaProjects\\LumaDesk\\LumaDesk-microservices\\Application-Logs\\analytics-service.log"
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{serviceName}] %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level [%X{serviceName}] %logger{36} - %msg%n"